{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Demande de contact{% endblock %}
{% block style %} <link rel="stylesheet" href="/styles/contact.css">{% endblock %}
{% block main %}

    <div class="container-fluid d-flex justify-content-center flex-column">
            
         <h2 class="text-center mt-5 "> Demande de contact </h2>
              
    
     
            <div id="logo" class="d-flex align-items-center justify-content-center bg-white bg-opacity-25 ">
                <img src="/images/logo.png" alt="logo">   
            </div>
            <div class="container ">
                <div class="m-2 p-2">
                
                    <div class="d-flex flex-column smview  w-100">
                    {{ form_start(form) }}
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-md-6 col-lg-12 row-cols-sm-1 pe-md-1 my-1 d-flex flex-column input">
                                <label for="contatc_form_message" > Votre message <div class="text-danger"><small><em>{{form_errors(form.message)}}</em></small></div></label>
                                {{form_widget(form.message, {'attr': { 'rows': '10','cols': '10', 'class':'form-control'}})}}
                            </div>
                        {% else %}    
                            <div class="col-md-6 col-lg-6 row-cols-sm-1 pe-md-1 my-1 d-flex flex-column input">
                                <label for="contatc_form_message" > Votre message <div class="text-danger"><small><em>{{form_errors(form.message)}}</em></small></div></label>
                                {{form_widget(form.message, {'attr': { 'rows': '10','cols': '10'}})}}
                            </div>
                            <div class="col-md-6 col-lg-6 row-cols-sm-1 pe-md-1 my-1 d-flex flex-column input">
                                <label for="contact_form_visitor_email" > Votre email <div class="text-danger"><small><em>{{form_errors(form.visitor_email)}}</em></small></div></label>
                                {{form_widget(form.visitor_email, {'attr': { 'class': 'form-control'}})}}
                            </div>
                            <div class="col-md-6 col-lg-6 row-cols-sm-1 pe-md-1 my-1 d-flex flex-column input">
                                <label for="contact_form_visitor_phone" > Votre téléphone <div class="text-danger"><small><em>{{form_errors(form.visitor_phone)}}</em></small></div></label>
                                {{form_widget(form.visitor_phone, {'attr': { 'class': 'form-control'}})}}
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-center flex-column">
                            <input formnovalidate class="btn btn-colorGreen rounded mt-4 w-25 mx-auto" type="submit" style="height: 40px; color: #eee0cb" value="Envoyer mon message"> 
                        </div>
                    </div>
                </div>
        {{ form_end(form) }}
    </div>
{% endblock %}